*{
    margin: 0%;
    padding: 0%;
   list-style: none;
}
.logo{
    margin-left: 120px;
   
}
#loc{
    margin-left: 10px;
    margin-right: 120px;
    color: black;
}
h6{
    margin-left: 100px;
   
}
